@import url(variable.css);

* {
    padding: 0;
    margin: 0
}

body {
    font-family: Europa, sans-serif;
    background-color: var(--third-color, #e9e9e9);
    color: #06202b;
}

img{
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #06202b;

}

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0 , 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);    /* color of the scroll thumb */
    border-radius: 20px; 
  }

.site-header {
    background-color: var(--third-color, #e9e9e9);
    color: #06202b;
    padding: 5px 0;

}

.main-navigation ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 50px 0;
}


.main-navigation li{
    cursor: pointer;
}

.container ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    
}

.container-dialogButtons {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-gap: 5px;    
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 30px;
}

.container-dialogButtons button{
    background-color: var(--secondary-color, #00E4DA);
    border: none;
    border-radius: 5px;
    color: #06202b;
    text-align: center;
    justify-content: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    height: 50px;

}

dialog::backdrop {
    background-color: rgba(0, 0, 0 , 0.5);
}

dialog {
    background-color: var(--third-color, #e9e9e9);
    border: 1px solid var(--secondary-color, #00E4DA);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 50px;
}

.dialogCard h1 {
    text-align: center;
    padding: 30px;
    font-size: xx-large;
    color: var(--primary-color, #06202b);
}

.dialogCard p {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    font-size: large;
    color: var(--primary-color, #06202b);
}

.container {
    margin: 0 auto;

}

.main-navigation a {
    border: 1px solid var(--secondary-color, #00E4DA);
    border-radius: 30px 30px 30px 30px;
    border-width: 2px;
    color: var(--secondary-color, #00E4DA);
    text-decoration: none;
    padding: 10px;
    font-size: large;
}

.main-navigation a:hover {
    background-color: var(--secondary-color, #00E4DA);
    color: var(--third-color, #e9e9e9);
}


.main-section h2 {
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
    color: var(--primary-color, #06202b);

}

.main-section p {
    padding-top: 30px;
    font-size: 22px;
    justify-content: center;
    text-align: center;
    color: var(--primary-color, #06202b);

}

.about-me-section {
    background: linear-gradient(-45deg, #00E4DA, #8de0cc, #0b9d96);
    background-size: 300% 300%;
    animation: Gradient 15s ease infinite;
}

.about-me-section h1 {
    padding-top: 120px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-family: Europa, sans-serif;


}

.about-me-section h2 {
    padding-top: 20px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    font-family: Europa, sans-serif;
    margin-left: 400px;
    margin-right: 400px;

}

.section1-clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 90px;
    width: 100%;
}

.section2-clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 250px;
    width: 100%;
}

.section3-clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 150px;
    width: 100%;
}

.section4-clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 150px;
    width: 100%;
    
}

.section3 h1 {
    padding: 30px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    font-family: Europa, sans-serif;
    margin-top: -10rem;

}

.project-grid {
    /* Wrapper */
    display: grid;
    grid-gap: 10px;
    /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
    grid-template-columns: repeat(3, 1fr);
    max-width: 870px;
    margin: 0 auto;


}
.languages-h1 {
    color: var(--primary-color, #06202b);
}

.grid-languages {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 800px;
    margin: 0 auto;
}

.grid-languages-item {
    display: grid;

}

.project-item {
    display: grid;

}

.grid-languages-item img {
    grid-column: 1;
    width: 125px;
    height: 125px;
    grid-row: 1/3;
    align-self: end;
    margin: 0 auto;
}

.grid-languages-item progress {
    align-self: end;
    margin: 0 auto;
    display:block;
    background: var(--secondary-color, #00E4DA);
    padding: 0px;
}

progress::-webkit-progress-value {
    background:var(--secondary-color, #00E4DA);
    border-radius: 3%;
}

.teste-container-card {
    position: relative;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
}

.teste-container-card:hover .card-texto {
    visibility: visible;
    transform: scale(1.1);
    transition: transform 0.5s;

}

.teste-container-card:hover img {
    transform: scale(1.1);
    transition: transform 0.5s;
    box-shadow: 0 0 15px var(--primary-color, #06202b);
}

.card-texto {
    position: absolute;
    background: var(--secondary-color, #00E4DA);
    opacity: 87%;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    border-radius: 5%;
    font-weight: bold
}

.card-texto p {
    margin-bottom: 20px;
    margin-top: -25px;
    font-size: 18px;
    text-align: center;
}

.card-texto h1 {
    margin-top: 5px;
    font-size: 30px;
}

.project-item a {
    background: var(--primary-color, #06202b);
    color: var(--third-color, #e9e9e9);
    padding: 5px 0;
    grid-column: 1;
    grid-row: 2;
    align-self: end;
    margin: 0 auto;
    width: 250px;
    border-radius: 5%;
    text-align: center;
    font-size: large;
    font-weight: bold;

}

.project-item img {
    grid-column: 1;
    border-radius: 5%;
    width: 250px;
    height: 250px;
    grid-row: 1/3;
    align-self: end;
    transition: box-shadow var(--transition-speed);
    margin: 0 auto;
    object-fit: cover;

}

.logo-pic {
    float: left;
    width: 45px;
    height: 42px;
}

.profile-pic-container {
    text-align: center;
}

.device-pic-container {
    text-align: center;
    width: 100%;
}

.profile-pic {
    display: inline-block;
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-top: 5px;
    animation: fadeIn 1.5s ease-in-out;
}

.is-bottom-teste {
    width: 860px;
    margin-bottom: -6rem;
    margin-top: 0.5rem;
    padding-top: 1rem;

}

.footer-container {
    display: flex;
    
}

.site-footer {
    background: linear-gradient(-45deg, #00E4DA, #8de0cc, #0b9d96);
    background-size: 300% 300%;
    animation: Gradient 15s ease infinite;
    color: #06202b;
    font-size: 20px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.site-footer img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
}

.footer-item:hover img {
    visibility: visible;
    transform: scale(1.15);
    transition: transform 0.5s;;
    
}


@media screen and (max-width: 768px) {
    .main-section p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-navigation ul {
        flex-direction: column;
        padding-top: 30px;
        
    }

    .main-navigation li {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: large;
    }

    .about-me-section h2 {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }

    .is-bottom-teste {
        max-width: auto;
        margin: 0 auto;
        margin-bottom: -6rem;

    }

    .project-grid {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        align-items: center;
    }

    .project-item img {
        width: 212px;
        height: 212px;

    }

    .project-item {
        margin: 0 auto;
    }

    .project-item a {
        margin: 0 auto;
        width: 212px;
    }

    .card-texto {
        width: 212px;
        height: 212px;
    }

    .card-texto h2 {
        font-size: 25px;
    }

    .card-texto h3 {
        font-size: 20px;
    }

    .teste-container-card:hover img {
        transform: scale(1.0);
        transition: transform 0.5s;
        box-shadow: 0 0 15px var(--primary-color, #06202b);
    }

    .teste-container-card:hover .card-texto {
        visibility: visible;
        transform: scale(1.0);
        transition: transform 0.5s;

    }

    .grid-languages {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }

    .grid-languages-item img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .logo-pic {
        width: 50px;
        height: 47px;
        margin: 0 auto;
        padding-left: 0px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

[data-tema='dark']{
    --primary-color: #e9e9e9;
    --secondary-color: #00E4DA;
    --third-color: #06202b;    
}

[data-tema='light']{
    --primary-color: #06202b;
    --secondary-color: #00E4DA;
    --third-color: #f0f0f0;
}